<div>
  <h3>Adicionar Novo Endereco</h3>
</div>

<div class="button-row">
  <button mat-raised-button [routerLink]="['/clients/detail/', idCliente]"><mat-icon>arrow_back</mat-icon> Voltar</button>
</div>
<br />

<form class="container" [formGroup]="addressForm" (ngSubmit)="addEndereco(addressForm.value)">

  <mat-form-field>
    <input matInput #input maxlength="100" name="logradouro" placeholder="Logradouro" formControlName="logradouro">
    <mat-hint align="end">{{input.value?.length || 0}}/100</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput name="numero" placeholder="Número" formControlName="numero">
  </mat-form-field>
  <br/>

  <mat-form-field>
    <input matInput name="bairro" placeholder="Bairro" formControlName="bairro">
  </mat-form-field>

  <mat-form-field>
    <input matInput name="cidade" placeholder="Cidade" formControlName="cidade">
  </mat-form-field>

  <mat-form-field>
    <mat-label>UF</mat-label>
    <mat-select name="uf" placeholder="UF" formControlName="uf">
      <mat-option value="AC">Acre</mat-option>
      <mat-option value="AL">Alagoas</mat-option>
      <mat-option value="AP">Amapá</mat-option>
      <mat-option value="AM">Amazonas</mat-option>
      <mat-option value="BA">Bahia</mat-option>
      <mat-option value="CE">Ceará</mat-option>
      <mat-option value="DF">Distrito Federal</mat-option>
      <mat-option value="ES">Espírito Santo</mat-option>
      <mat-option value="GO">Goiás</mat-option>
      <mat-option value="MA">Maranhão</mat-option>
      <mat-option value="MT">Mato Grosso</mat-option>
      <mat-option value="MS">Mato Grosso do Sul</mat-option>
      <mat-option value="MG">Minas Gerais</mat-option>
      <mat-option value="PA">Pará</mat-option>
      <mat-option value="PB">Paraíba</mat-option>
      <mat-option value="PR">Paraná</mat-option>
      <mat-option value="PE">Pernambuco</mat-option>
      <mat-option value="PI">Piauí</mat-option>
      <mat-option value="RJ">Rio de Janeiro</mat-option>
      <mat-option value="RN">Rio Grande do Norte</mat-option>
      <mat-option value="RS">Rio Grande do Sul</mat-option>
      <mat-option value="RO">Rondônia</mat-option>
      <mat-option value="RR">Roraima</mat-option>
      <mat-option value="SC">Santa Catarina</mat-option>
      <mat-option value="SP">São Paulo</mat-option>
      <mat-option value="SE">Sergipe</mat-option>
      <mat-option value="TO">Tocantins</mat-option>
    </mat-select>
  </mat-form-field>
  <br />

  <mat-form-field>
    <input matInput name="cep" placeholder="cep" formControlName="cep">
  </mat-form-field>
  <br/>

  <button type="submit" [disabled]="!addressForm.valid" mat-button color="primary">Adicionar</button>

</form>
